{% extends 'diagnostic/base.html' %}
{% block title %}BDI Survey{% endblock %}
{% block body %}
    <div class="container">
        <div>
            <form method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="current" value="{{ current }}">
                    <h3><strong>{{ qa_set.0.text }}</strong> {% if qa_set.0.label %} {{ qa_set.0.label }} {% endif %}</h3>
                    <fieldset class="form-control jumbotron">
                    {% for answer in qa_set.1 %}
                        <input type="hidden" name="answer_pk" value="{{ answer_pk }}">
                        <div class="card card-block">
                            <label for="{{ answer.pk }}">
                                <input type="radio" name="answer" id="{{ answer.pk }}" value="{{ answer.value }}" required> {{ answer.response }}
                            </label>
                        </div>
                    {% endfor %}
                        <input type="submit" value="submit" class="btn btn-primary">
                    </fieldset>

            </form>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}
    <script src="/static/survey-init.js"></script>
{% endblock %}