{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gleam - {% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock %}

    <!-- HTML5 Shiv -->
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
</head>
<body>

<header class="cd-main-header">
    <a href="#0" class="cd-logo"><img src="{% static 'images/gleam-124.png' %}" alt="Logo"></a>

    {#    <div class="cd-search">#}
    {#        <form action="#0">#}
    {#            <input type="search" placeholder="Search...">#}
    {#        </form>#}
    {#    </div> <!-- cd-search -->#}

    <a href="#0" class="cd-nav-trigger">Menu<span></span></a>

    <nav class="cd-nav">
        <ul class="cd-top-nav">
            <li class="has-children account">
                <a href="#0">
                    <img src="/{{ request.user.userprofile.picture.url }}" alt="avatar">
                    <span class="small">{{ request.user.first_name }}</span>
                </a>

                <ul>
                    <li><a href="#0">Profile</a></li>
                    <li><a href="#0">Settings</a></li>
                    <li><a href="#0">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header> <!-- .cd-main-header -->

<main class="cd-main-content">
    <nav class="cd-side-nav">
        <ul>
            <li class="cd-label">NAVIGATE</li>
            <li class="has-children">
                <a href="#">Home</a>
                <ul>
                    <li><a href="#">All Data</a></li>
                    <!-- other list items here -->
                </ul>
            </li>
            <li class="has-children">
                <a href="#">Notifications</a>

                <ul>
                    <li><a href="#">All Notifications</a></li>
                    <!-- other list items here -->
                </ul>
            </li>

            <!-- other list items here -->
        </ul>

        <!-- other unordered lists here -->
    </nav>

    <div class="content-wrapper">
        <br>
        {% block body %}{% endblock %}
        <!-- main content here -->
    </div> <!-- .content-wrapper -->

</main> <!-- .cd-main-content -->


<script type="application/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
<script type="application/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="application/javascript" src="{% static 'js/jq.redirect.js' %}"></script>
<script type="application/javascript" src="{% static 'js/escape-html.js' %}"></script>
<script type="application/javascript" src="{% static 'js/dashboard/modernizr.js' %}"></script>
<script type="application/javascript" src="{% static 'js/dashboard/jquery.menu-aim.js' %}"></script>
<script type="application/javascript" src="{% static 'js/dashboard/main.js' %}"></script>
<script type="application/javascript" src="{% static 'js/base-init.js' %}"></script>
{% block js_scripts %}
{% endblock %}
</body>
</html>