<table class="calendar table">
    <thead>
        <tr>
            <th width="10%">&nbsp;</th>
            <th width="12%">Sunday</th>
            <th width="12%">Monday</th>
            <th width="12%">Tuesday</th>
            <th width="12%">Wednesday</th>
            <th width="12%">Thursday</th>
            <th width="12%">Friday</th>
            <th width="12%">Saturday</th>
        </tr>
    </thead>
</table>
<div style="height: 491px; overflow: scroll;" id="calDiv">
    <table class="calendar table table-bordered" id="calBody">
        <tbody id=calbody>
        </tbody>
    </table>
</div>