{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <progress class="progress progress-striped" value="80" max="100">80%</progress>
        <div class="jumbotron">
            <p>
                It can be really overwhelming to be faced with a list of things you need to change about your life.
                The best way to manage it is to focus on one goal at a time.
                Let’s pick out the first goal for you to address.
                <br>
                You’re new to these skills and it might take a little bit of time to get comfortable using them.
                It’s a good idea to start with the simpler goals when you’re still focusing on learning.
                The more practice you get, the better equipped you’ll be for tackling your more difficult goals.
            </p>
        </div>
        <div class="row">
            <h5 class="alert alert-info">
                That’s why we recommend you start with {{ ranking.first.action }}. <br>
                If you feel more comfortable starting with another goal, then you may select that one instead.
            </h5>
            <h5 id="secondWarning" class="alert alert-warning">
                Remember, you’ll have the chance to target all of your goals.
                Are you sure you wouldn’t rather start with the easiest one?
            </h5>
            <h5 id="thirdWarning" class="alert alert-warning">
                Remember, you’ll have the chance to target all of your goals.
                Are you sure you want to start with the hardest one?
            </h5>
            <form action="{% url 'case:case_goal_rank_confirm' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ ranking.id }}" name="rankId">
                <label for="firstGoal" class="form-control">
                    <input type="radio" id="firstGoal" name="goal" value="{{ ranking.first.id }}" checked>
                    Sounds good! I want to start with {{ ranking.first.action }}
                </label>
                {% if ranking.second.id %}
                <label for="secondGoal" class="form-control">
                    <input type="radio" id="secondGoal" value="{{ ranking.second.id }}" name="goal"> I would rather
                    want to start with {{ ranking.second.action }}
                </label>
                {% endif %}
                {% if ranking.third.id %}
                <label for="thirdGoal" class="form-control">
                    <input type="radio" id="thirdGoal" value="{{ ranking.third.id }}" name="goal"> I would rather want
                    to start with {{ ranking.third.action }}
                </label>
                {% endif %}
                <input type="submit" value="Submit" class="btn btn-success pull-right">

            </form>
        </div>

    </div>
{% endblock %}
{% block js_scripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            var secondWarning = $('#secondWarning');
            var thirdWarning = $('#thirdWarning');
            secondWarning.hide();
            thirdWarning.hide();
            $('#firstGoal').on('click', function () {
                secondWarning.hide();
                thirdWarning.hide();
            });
            $('#secondGoal').on('click', function () {
                secondWarning.show();
                thirdWarning.hide();
            });
            $('#thirdGoal').on('click', function () {
                secondWarning.hide();
                thirdWarning.show();
            });

        });
    </script>
{% endblock %}