{% extends 'base.html' %}
{% block title %}Create goals{% endblock %}
{% block body %}
    <div class="container">
        <progress class="progress progress-striped" value="43" max="100">43%</progress>
        <h3>
                In order to make your fight more strategic, it is important to set goals that we can work towards. <br>
                Your goals should be observable, measurable and achievable. We want you to pick goals that are
                challenging,
                but not overwhelming.
        </h3>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <p><strong class="strongText">Example</strong> The following relates to how Amelia would make a
                        goal.</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="card-title"><strong class="strongText">Problem:</strong> Work
                                </h4>
                                <div class="card-text">
                                    <label for="exampleProblem"><strong class="strongText">Goal</strong> </label>
                                    <textarea type="text" class="form-control" id="exampleProblem" disabled>I will take an hour every morning at work to plan her day. She will write down all meetings and deadlines in her calendar, and she will schedule time to work on each task.</textarea>
                                    <label>
                                        <strong class="strongText">Frequency</strong>
                                        <select disabled class="form-control">
                                            <option>5 times a week</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>

                    <p>
                        <strong class="strongText">Why is this a good goal?</strong> <br>
                        By planning out her time, Amelia can make sure everything gets accomplished.
                        She will know that her work will get done because there will be a specific time
                        for each task. This will keep her organized and she won’t be as overwhelmed. Meeting
                        her deadlines will please her boss, and she will no longer fear losing her job.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="alert alert-info">
                    For each problem that you selected, create a goal that will help you overcome it. It might be
                    helpful to
                    think back to the situation that you identified, or you can create a different goal altogether.
                    Don’t be nervous about committing to these goals. If your priorities shift, you can always change
                    them or create new ones.
                </h5>
            </div>
        </div>
        <form action="{% url 'case:goals' %}" method="post">
            {% csrf_token %}
            {% for problem in problems %}
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="card-title"><strong class="strongText">Problem:</strong> {{ problem.text }}</h4>
                            <div class="card-text">
                                <label for="{{ problem.id }}"></label><strong class="strongText">Goal</strong>
                                <textarea type="text" class="form-control" id="{{ problem.id }}"
                                          name="{{ problem.id }}-action" maxlength="300" required></textarea>
                                <label><strong class="strongText">Frequency</strong>
                                    <select class="form-control pull-left" name="{{ problem.id }}-frequency">
                                        {% for freq in frequencies %}
                                            <option value="{{ freq.1 }}"
                                                    name="{{ problem.id }}-frequency">{{ freq.0 }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            <input type="submit" class="btn btn-primary pull-right" value="Next">
        </form>

    </div>
{% endblock %}