{% extends 'base.html' %}
{% block title %}Identify situations{% endblock %}
{% block head %}
    <style>
        textarea {
            height: 10em;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <progress class="progress progress-striped" value="14" max="100">14%</progress>
        <div class="row">
            <div class="col-sm-12">
                <h3>
                    Let’s dig a little deeper. Can you think of two specific situations where
                    depression affected <strong>{{ problem.text|lower }}</strong>? <br>
                    What happened? What were you thinking when it happened? How did it make you feel? How did you react?
                </h3>
                <p><span class="label label-info">Example</span> Amelia, a 34 year old, has been working at her current
                    job
                    for the past 8 years.
                    Lately, she has been feeling overwhelmed and has not been keeping up with all of her tasks</p>

                <span class="label label-info">Tell us a little bit more about your problem</span>

            </div>
        </div>
        <div id="mainContent">
            {% if errors_1 %}
                <div class="row">
                    <div class="alert alert-warning">
                        Following errors occurred: <br>
                        {{ errors_1 }}
                    </div>
                </div>
            {% endif %}

            {% if errors_2 %}
                <div class="row">
                    <div class="alert alert-warning">
                        Following errors occurred: <br>
                        {{ errors_2 }}
                    </div>
                </div>
            {% endif %}

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Situation</th>
                    <th>Thoughts and Feelings</th>
                    <th>Reaction</th>
                    <th>Distress Level <span class="text-muted small">5 is high</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr>
                    <td>
                        <textarea class="form-control" maxlength="300" disabled>I have not been able to meet expectations at work. At our last meeting, my boss told me to improve my performance.</textarea>
                    </td>
                    <td>
                        <textarea class="form-control" maxlength="600" disabled>If I don’t fix this now, I am definitely going to get fired. No matter how hard I try, I can’t seem to keep up. I am scared that I will be fired. I feel overwhelmed and worthless.</textarea>
                    </td>
                    <td>
                        <textarea class="form-control" maxlength="300" disabled>I have not been sleeping well and I have lost my appetite. I can’t concentrate at work.</textarea>
                    </td>
                    <td>
                        <select disabled class="form-control">
                            <option>4</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                    <textarea id="situationInput1" class="form-control check-filled" maxlength="300"
                              required></textarea>
                    </td>
                    <td>
                        <textarea id="thoughtFeelingInput1" class="form-control check-filled" maxlength="500"
                                  required cols="50"></textarea>
                    </td>
                    <td>
                        <textarea id="reactionInput1" class="form-control check-filled" maxlength="300"
                                  required></textarea>
                    </td>
                    <td>
                        <select class="form-control" id="distressInput1">
                            {% for i in distressLevels %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <textarea id="situationInput2" class="form-control" maxlength="300"></textarea>
                    </td>
                    <td>
                        <textarea id="thoughtFeelingInput2" class="form-control" maxlength="500" cols="50"></textarea>
                    </td>
                    <td>
                        <textarea id="reactionInput2" class="form-control" maxlength="300"></textarea>
                    </td>
                    <td>
                        <select class="form-control" id="distressInput2">
                            {% for i in distressLevels %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
            {% csrf_token %}

            <div class="row">
                <a href="#" class="btn btn-primary pull-left" id="anotherProblem"><i class="fa fa-arrow-left"></i>
                    Identify
                    another
                    problem area</a>
                <a href="#" class="btn btn-success pull-right" id="doneWithProblems"><i class="fa fa-check"></i> I'm
                    done</a>
            </div>
            <div class="row">
                <span class="text-muted pull-left">Your changes will be saved.</span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="warningModal"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="row">
                    <div class="col-md-12">
                        <br>
                        <p class="modal-body">
                            Please ensure that you tell us more about your problem and at least one row must be filled
                            in (situation, thought, feeling, reaction, and distress
                            level).
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}
    <script type="application/javascript">
        $(document).ready(function () {

            var payload = function () {
                return {
                    'situationInput1': $('#situationInput1').val(),
                    'thoughtFeelingInput1': $('#thoughtFeelingInput1').val(),
                    'reactionInput1': $('#reactionInput1').val(),
                    'distressInput1': $('#distressInput1').val(),

                    'situationInput2': $('#situationInput2').val(),
                    'thoughtFeelingInput2': $('#thoughtFeelingInput2').val(),
                    'reactionInput2': $('#reactionInput2').val(),
                    'distressInput2': $('#distressInput2').val(),
                    'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value,
                    'problem': {{ problem.id }}
                }
            };

            function checkInputs() {
                var checker = true;
                $('.check-filled').each(function () {
                    if ($(this).val().length < 5) {
                        checker = false;
                    }
                });
                return checker;
            }

            $('#anotherProblem').on('click', function () {
                if (checkInputs() == true) {
                    $.redirect('{% url 'case:problem_description' %}?previous=True', payload());
                } else {
                    $('#warningModal').modal('show');
                }
            });
            $('#doneWithProblems').on('click', function () {
                if (checkInputs()) {
                    $.redirect('{% url 'case:problem_description' %}', payload());
                } else {
                    $('#warningModal').modal('show');
                }
            });
        });
    </script>
{% endblock %}