{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Identify problems{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/radios-to-slider.min.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        {% if welcome %}
            <div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeModal"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="row">
                            <div class="col-md-12">
                                <br>
                                <p class="modal-body">
                                    Now that you are an official Gleamer, let’s see what we are up against.
                                    We will first identify the areas of your life that depression has
                                    affected. Then we will guide you through picking out specific goals to
                                    address each of those problems. Each goal you achieve is a battle you win
                                    against depression.
                                </p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Let's Go</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <progress class="progress progress-striped" value="14" max="100">14%</progress>
        <h3>Select an aspect of your life that is being negatively impacted by depression or
            feel free to add your own.</h3>
        <hr>
        {% if errors %}
            <div class="row">
                <div class="alert alert-warning">
                    An error occurred, please try again.
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div id="aspect-list">
                {% for problem_text in default_problems %}
                    {% if problem_text in texts %}
                        <div class="col-md-3 card card-block btn btn-secondary-outline disabled">{{ problem_text }}</div>
                    {% else %}
                        <div class="col-md-3 card card-block btn btn-primary-outline aspects">{{ problem_text }}</div>
                    {% endif %}

                {% endfor %}
                {% for custom_problem_text in custom_problems %}
                    <div class="col-md-3 card card-block btn btn-secondary-outline disabled">{{ custom_problem_text }}</div>
                {% endfor %}
            </div>
            <div class="col-md-3 card card-block btn btn-success-outline" id="addAspect">Add another</div>
        </div>

        <div class="row" id="addAspectDiv">
            <div class="col-sm-12">
                <hr>
                    <fieldset class="form-group">
                        <label for="addAspectInput">Provide a short problem description.</label>
                        <input type="text" id="addAspectInput" class="form-control"
                               data-toggle="tooltip" data-placement="bottom" title="More information">
                        <br>
                        <a href="#" class="btn btn-primary pull-xs-right" data-dismiss="modal" id="addAspectConfirm">Confirm</a>
                    </fieldset>
            </div>
        </div>

        <div class="row" id="frequencySeverityOptions">
            <div class="col-md-12">
                <hr>
                <form action="{% url 'case:problem' %}" method="post" id="problemAspectForm">
                    <div>
                        <label>Please expand on how depression has impacted <span class="selectedProblem"></span>.
                            <textarea class="form-control" cols="1000" rows="5" name="summary"
                                      id="problemSummary" maxlength="500" required></textarea>
                        </label>
                    </div>
                    <fieldset class="form-group">
                        <span>How frequently does depression affect your
                            <span class="selectedProblem"></span>?</span>
                        <br>
                        {% for option in frequencyOptions %}
                            <label class="c-input c-radio">
                                <input type="radio" value="{{ option.0 }}" name="frequency" class="radio" required/>
                                <span class="c-indicator"></span>
                                {{ option.1 }}
                            </label>
                        {% endfor %}

                    </fieldset>
                    <fieldset>
                        <div class="alert alert-warning" id="severityWarning">Please select a severity level.</div>
                        <span>How significantly has depression affected your <span
                                class="selectedProblem"></span>?</span>
                        <div id="radios">
                            {% for option in severityOptions %}
                                <label for="{{ option.1 }}">{{ option.1 }}</label>
                                <input type="radio" value="{{ option.0 }}" name="severity" id="{{ option.1 }}"
                                       class="severity" required>
                            {% endfor %}
                        </div>
                    </fieldset>
                    {% csrf_token %}
                    <input type="hidden" name="text" id="textInput">
                    <div class="row">
                        <button type="submit" class="btn btn-primary pull-right" id="nextButton">Next <i
                                class="fa fa-arrow-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js_scripts %}
    <script type="application/javascript" src="{% static 'js/jquery.radios-to-slider.min.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {

            var addAspectDiv = $('#addAspectDiv');
            {% if welcome %}
                $('#welcomeModal').modal('show');
            {% endif %}
            addAspectDiv.hide();

            var fsOptions = $('#frequencySeverityOptions');
            $('#radios').radiosToSlider();
            fsOptions.hide();
            {##}
            {#            var summaryWarning = $('#summaryWarning'),#}
            {#                    frequencyWarning = $('#frequencyWarning'),#}
            {#                    severityWarning = $('#severityWarning');#}
            {#        summaryWarning.hide()#}
            var severityWarning = $('#severityWarning');
            severityWarning.hide();


            $('body').on('hide', '#frequencySeverityOptions', function () {
                $('#aspect-list').find('>div').removeClass('active');
            });

            var selectedAspect;
            var textToDisplay;
            $('body').on('click', '.aspects', function () {
                // Hide the custom input
                addAspectDiv.hide();
                selectedAspect = $(this);
                if ($(this).hasClass('active')) {
                    $(this).removeClass('active');
                    fsOptions.hide();
                }
                else {
                    $('#aspect-list').find('>div').removeClass('active');
                    $(this).addClass('active');
                    $('#addAspect').removeClass('active');
                    fsOptions.show();
                }
                textToDisplay = '<strong class="strongText">' + selectedAspect.html().toLowerCase() + '</strong>';
                $('.selectedProblem').html(textToDisplay);

                $('#nextButton').on('click', function (e) {
                    severityWarning.hide();
                    $('#textInput').val(selectedAspect.html());
                    if ($('input[name=severity]:checked').length === 0) {
                        severityWarning.show();
                        e.preventDefault();
                    }
                });
            });
            $('#addAspect').on('click', function () {
                //Remove active divs and hide the option menu
                $('#aspect-list').find('>div').removeClass('active');
                fsOptions.hide();
                $('#addAspectInput').val('');
                addAspectDiv.toggle();
                if (addAspectDiv.is(':visible')) {
                    $('#addAspect').addClass('active');
                } else {
                    $('#addAspect').removeClass('active');
                }
            });
            $('#addAspectConfirm').on('click', function () {
                $('#aspect-list').find('>div').removeClass('justAdded');
                $('#aspect-list').append('<div class="col-md-3 card card-block btn btn-primary-outline aspects justAdded">' + $('#addAspectInput').val());
                $('.justAdded').first().click();
                addAspectDiv.hide();
            });
        });
    </script>
{% endblock %}