{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Case Conceptualization{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block body %}

    <div class="container">
        <h3>The most important aspect of CBT is practice. If you're not using these skills in your daily life,
            knowing the theory behind them won't help you. That's why it's a good idea to set aside specific times
            for your CBT training.
            <br>
            We recommend using the course at least 2 to 3 times a week.
            <br>
            Of course, this is just a guideline for you. If you find that your schedule isn't working, you can
            revisit it.
        </h3>
        <hr>
        <form role="form" method="post" action="">
            {% csrf_token %}
            {% include "caseconcept/calendar.html" %}
            <br>
            <button type="submit" name="submit" class="btn btn-primary pull-right"/>
            Next <i class="fa fa-arrow-right"></i></button>
        </form>
    </div>

<!--
    <div id="myModal" class="modal fade" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Weekly Planner</h4>
                </div>
                    <div class="modal-body">
                        <form role="form" method="post" action="" class="form-inline" id="planForm">
                            <p>Add any events including work, school, extracurricular activities, or any time commitments you have to your schedule</p>
                                <div class="form-group">
                                    <input id="eventName" name="eventName" class="form-control" type="text" placeholder="Name of Event" style="width: 200px;">
                                </div>
                                <div class="form-group">
                                    <select id="eventDay" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <select id="eventTime" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <select id="eventLength" class="form-control"></select>
                                </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary pull-left" onclick="addInput()">Add New Event</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary pull-right">Save changes</button>
                    </div>
            </div>
        </div>
    </div>
-->
{% endblock %}

{% block js_scripts %}
    <script type="text/javascript">
        function addRows() {
            var daterow = $("#calbody");

            daterow.empty();
            for (var i = 0; i<=2330; i+=100) {

                if (i >= 1300) {
                    var hour = i/100 - 12,
                        meridiem = "pm";
                }
                else if (i < 0100) {
                    var hour = 12;
                        meridiem = "am";
                }
                else if (i >= 1200 && i < 1300) {
                    var hour = 12;
                        meridiem = "pm";
                }
                else {
                    var hour = i/100,
                        meridiem = "am";
                }
                minute = i%100;
                minute.toString();
                minute = "0" + minute;
                minute.slice(-2);

                var time12 = hour + " " + meridiem,
                    timeval = ("0000" + i).slice(-4);
                daterow.append("<tr>");
                daterow.append("<td ROWSPAN='3' width='10%' class='timedisplay' style='text-align: right;" +
                               "vertical vertical-align: middle; font-size: 0.75em; padding: 0;'>" + time12 +"</td>");
                for (var j = 1; j<=7; j++)
                    daterow.append("<td width='12%' style='text-align: center; vertical-align: middle; padding: 0px;'><input type='checkbox' name='weekday_time' value='" +
                                    j + timeval + "'></td>");
                    //daterow.append("<td width='12%' id='" + j + timeval + "'></td>");
                daterow.append("</tr>");
                daterow.append("<tr>");
                time12 = hour + ":" + 30 + " " + meridiem;
                halfval = timeval.substring(0,2) + 30;
                for (var j = 1; j<=7; j++)
                    daterow.append("<td width='12%' style='text-align: center; vertical-align: middle; padding: 0px;'><input type='checkbox' name='weekday_time' value='" +
                                    j + halfval + "'></td>");
                    //daterow.append("<td width='12%' id='" + j + halfval + "'></td>");
                daterow.append("</tr>");
            }
        }

        function addDays() {
            var eventDay = $("#eventDay");
            eventDay.append("<option value='1'>Sunday</option>")
            eventDay.append("<option value='2'>Monday</option>")
            eventDay.append("<option value='3'>Tuesday</option>")
            eventDay.append("<option value='4'>Wednesday</option>")
            eventDay.append("<option value='5'>Thursday</option>")
            eventDay.append("<option value='6'>Friday</option>")
            eventDay.append("<option value='7'>Saturday</option>")
        }

        function addTimes() {
            var eventTime = $("#eventTime");
            for (var i = 0; i<=2330; i+=100) {
                if (i >= 1300) {
                    var hour = i/100 - 12,
                        meridiem = "pm";
                }
                else if (i < 0100) {
                    var hour = 12;
                        meridiem = "am";
                }
                else if (i >= 1200 && i < 1300) {
                    var hour = 12;
                        meridiem = "pm";
                }
                else {
                    var hour = i/100,
                        meridiem = "am";
                }
                minute = i%100;
                minute.toString();
                minute = "0" + minute;
                minute.slice(-2);

                var time12 = hour + ":" + minute + " " + meridiem,
                    timeval = ("0000" + i).slice(-4);
                if (i == 800)
                    eventTime.append("<option value='" + timeval + "' selected>" + time12 + "</option>");
                else
                    eventTime.append("<option value='" + timeval + "'>" + time12 + "</option>");

                time12 = hour + ":" + 30 + " " + meridiem;
                halfval = timeval.substring(0,2) + 30;

                eventTime.append("<option value='" + halfval + "'>" + time12 + "</option>");
            }
        }

        function addLength() {
            var eventLength = $("#eventLength");
            for (var i = 30; i<=720; i+=30) {
                var hrLength = Math.floor(i/60),
                    mntLength = i%60,
                    fullTime;
                if (hrLength == 0)
                    fullTime = mntLength + " minutes";
                else if (mntLength == 0)
                    fullTime = hrLength + " hours";
                else
                    fullTime = i/60 + " hours"
                eventLength.append("<option value='" + i + "'>" + fullTime + "</option>")
            }
        }

        function addInput() {
            var div1 = document.createElement('div');
            div1.innerHTML = document.getElementById('newInput').innerHTML;
            document.getElementById("planForm").appendChild(div1);
        }

        $(function () {
            addRows();
            $("input[name=weekday_time]").change(function () {
                var max = {{ goal.current_goal.frequency }};
                if ($("input[name=weekday_time]:checked").length == max) {
                    $("input[name=weekday_time]").attr('disabled', 'disabled');
                    $("input[name=weekday_time]:checked").removeAttr('disabled');
                } else {
                    $("input[name=weekday_time]").removeAttr('disabled');
                }
            });

            /*document.getElementById("calDiv").scrollTop = 786;*/
            document.getElementById("calDiv").scrollTop = 392;
            $("#myModal").modal('show');
            addDays();
            addTimes();
            addLength();
        });
    </script>
{% endblock %}