{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Case Conceptualization{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}
{% block body %}
    <div class="container jumbotron">
        <p>The most important aspect of CBT is practice. If you're not using these skills in your daily life,
            knowing the theory behind them won't help you. That's why it's a good idea to set aside specific times
            for your CBT training. We recommend using the course at least 2 to 3 times a week.</p>
        <p>Of course, this is just a guideline for you. If you find that your schedule isn't working, you can
            revisit it.</p>
    </div>


    <div class="container">
        <form role="form" method="post" action="">
            {% csrf_token %}
            {% include "caseconcept/calendar.html" %}
            <br>
            <input type="submit" name="submit" value="Next" class="btn btn-primary pull-right"/>
        </form>
    </div>

{% endblock %}
{% block js_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[name=weekday_time]").change(function () {
                var max = {{ goal.current_goal.frequency }};
                if ($("input[name=weekday_time]:checked").length == max) {
                    $("input[name=weekday_time]").attr('disabled', 'disabled');
                    $("input[name=weekday_time]:checked").removeAttr('disabled');
                } else {
                    $("input[name=weekday_time]").removeAttr('disabled');
                }
            });

            /*document.getElementById("calDiv").scrollTop = 686;*/
            document.getElementById("calDiv").scrollTop = 392;
        });
    </script>
{% endblock %}