{% extends "base.html" %}
{% block title %}Start course{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h2>Great! Your battle plan is ready. Now let's commence training!</h2> <br>
                <a href="#" class="btn btn-large btn-primary pull-xs-right">Let's go! <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div>
                <h5 class="alert alert-info">
                    You have subscribed to the following training schedule.
                    <a href="{% url 'case:calendar' %}?goal={{ slots.first.id }}" class="btn btn-info">Update</a>

                </h5>

                {% for slot in slots %}
                    <div class="col-sm-12 col-md-6">
                        <div class="card card-block">
                            {{ slot.goal.action }}
                            <hr>
                            <strong>{{ slot.weekday_time_verbose }}</strong>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}