<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HAMD Survey</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <dl>
    {% for qa in qa_list %}
        <dt><strong>{{ qa.0.text }}</strong> {% if qa.0.label %} {{ qa.0.label }} {% endif %}</dt>
        {% for answer in qa.1 %}
            <dd>
                <label for="{{ answer.pk }}">
                    <input type="radio" name="{{ answer.question.pk }}" id="{{ answer.pk }}" value="{{ answer.value }}" required>{{ answer.response }}
                </label>
            </dd>
        {% endfor %}
        <br>
    {% endfor %}
    </dl>
    <input type="submit" value="Submit">
</form>
</body>
</html>