.chat-face {
    border-radius: 100%;
    background-size: 30px 30px;
    background: orangered no-repeat center;
    width: 30px;
    height: 30px;
}

.chat-default-face {
    border-radius: 100%;
    background: url("/static/images/user.png") orangered center no-repeat;
    background-size: 50px 50px;
    width: 30px;
    height: 30px;
}
