{% extends "core/dashboard/base-patient-dash.html" %}
{% load staticfiles %}
{% block title %}Journal{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
{% endblock %}
{% block body %}


    <div class="container">
        <form role="form" method="post" action="">
            {% csrf_token %}
            <div class="col-md-10"><h3>Journal Entry</h3></div>
            <div class="col-md-4">
                <fieldset class="form-group">
                    <input id="title" name="title" class="form-control" placeholder="Title Your Entry">
                </fieldset>
            </div>
            <div class="col-md-8" style="text-align: right;"><h5 id="tDate"></h5></div>
            <div class="col-md-12">
                Let’s take some time to check in with you. How have you been doing for the past week?
            </div>
            <div class="col-md-12">
                <fieldset class="form-group">
                    <textarea id="entry" name="entry" class="form-control" type="text"
                              style="resize: none; height: 500px;"
                              placeholder="What are the good and bad things that happened? How have you been feeling?  This is your chance to freely reflect- vent, brag, complain, rant, gush, whatever you feel like writing about!"></textarea>
                    <div id="feedbackUser"></div>
                    {% if entry_form.entry.errors %}
                        <div>{{ entry_form.entry.errors }}</div>
                    {% endif %}
                </fieldset>
            </div>

            <div class="col-md-2">
                <fieldset class="form-group">
                    <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success pull-left"/>
                </fieldset>
            </div>

            <div class="col-md-10">
                <a href="{% url 'journal:listview' %}" class="btn btn-primary pull-right" role="button">History</a>
            </div>

            <fieldset class="form-group">
                <div class="col-md-5">
                    <input id="created" name="created" type="hidden" class="form-control">
                </div>
            </fieldset>

        </form>
    </div>
{% endblock %}

{% block js_scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        $('#journalSidebar').addClass('active');
        var d = new Date();
        $(document).ready(function () {
            document.getElementById("tDate").innerHTML = d.toDateString();
            document.getElementById("created").value = d.toISOString().replace("T", " ").substring(0, 16);
        });

        $("form").submit(function () {
            var $input = $(this).find("input[id=title]");
            if (!$input.val()) {
                $input.val(d.toDateString());
            }

            google.charts.load('current', {packages: ['corechart', 'line']});
            google.charts.setOnLoadCallback(drawBasic);
            $('#journalSidebar').addClass('active');
            function drawBasic() {

                var options;
                var chart;
                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Entry Date');
                data.addColumn('number', 'Sentiment Score');

                {% for val in entryvalues %}
                    cDate = new Date('{{ val.created|date:"c" }}');
                    newDate = new Date(cDate.getFullYear(), cDate.getMonth(), cDate.getDate());
                    data.addRows([[newDate, {{ val.sentiment_score }}]]);
                {%  endfor %}

                options = {
                    hAxis: {
                        title: 'Date'
                    },
                    vAxis: {
                        title: 'Sentiment Score',
                        viewWindow: {
                            max: 1,
                            min: -1
                        },
                    },
                    legend: {position: 'none'},
                    width: 600
                };

                chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                chart.draw(data, options);
            }
        });
    </script>
{% endblock %}