{% extends 'core/therapist-dashboard/base-therapist-dash.html' %}
{% load static from staticfiles %}
{% block title %}Therapist Dashboard{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-xl-6">
            <div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg">
                <div class="card-header bordered">
                    <div class="header-block">
                        <h3 class="title">
                            Notifications
                        </h3></div>
                </div>
                <div class="card-block">
                    <div class="dashboard-sales-breakdown-chart" id="dashboard-sales-breakdown-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card sameheight-item sales-breakdown" data-exclude="xs,sm,lg">
                <div class="card-header bordered">
                    <div class="header-block">
                        <h3 class="title">
                            Appointments
                        </h3> <a href="" class="btn btn-primary btn-sm rounded">
                        Add new
                    </a></div>
                </div>
                <div class="card-block">
                    <div class="dashboard-sales-breakdown-chart" id="dashboard-sales-breakdown-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-xl-6">
            <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                <div class="card-header bordered">
                    <div class="header-block">
                        <h3 class="title">
                            Patients
                        </h3> <a href="" class="btn btn-primary btn-sm rounded">
                        Add new
                    </a></div>
                </div>
                <ul class="item-list striped">
                    <li class="item item-list-header hidden-sm-down">
                        <div class="item-row">
                            <div class="item-col item-col-header fixed item-col-img xs"></div>
                            <div class="item-col item-col-header item-col-title">
                                <div><span>Name</span></div>
                            </div>
                            <div class="item-col item-col-header item-col-date">
                                <div><span>Messages</span></div>
                            </div>
                        </div>
                    </li>
                    {% for client in clients %}
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col fixed item-col-img xs">
                                    <a href="">
                                        <div class="item-img xs rounded"
                                             style="background-image: url({{ client.user_profile.picture.url }})"></div>
                                    </a>
                                </div>
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="" class="">
                                            <h4 class="item-title no-wrap">
                                                {{ client.user_profile.user.first_name }} {{ client.user_profile.user.last_name }}
                                            </h4></a>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Last Appointment</div>
                                    <div> 21 SEP 10:45</div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card sameheight-item items" data-exclude="xs,sm,lg">
                <div class="card-header bordered">
                    <div class="header-block">
                        <h3 class="title">
                            Notes
                        </h3> <a href="" class="btn btn-primary btn-sm rounded">
                        Add new
                    </a></div>
                </div>
                <ul class="item-list striped">
                    <li class="item item-list-header hidden-sm-down">
                        <div class="item-row">
                            <div class="item-col item-col-header item-col-title">
                                <div><span>Title</span></div>
                            </div>
                            <div class="item-col item-col-header item-col-date">
                                <div><span>Date Posted</span></div>
                            </div>
                        </div>
                    </li>
                    {% for note in notes %}
                        <li class="item">
                            <div class="item-row">
                                <div class="item-col item-col-title no-overflow">
                                    <div>
                                        <a href="{% url 'journal:view_entry' note.id %}" class="">
                                            <h4 class="item-title no-wrap">
                                                {{ note.title }}
                                            </h4></a>
                                    </div>
                                </div>
                                <div class="item-col item-col-date">
                                    <div class="item-heading">Published</div>
                                    <div>{{ note.created_on_strformat }}</div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}
    <script type="application/javascript">
        $(document).ready(function () {
            $('#homeSidebar').addClass('active');
        });
    </script>
{% endblock %}