{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Patient Chat{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="" id="chatLog" style="overflow-y: auto; max-height: 500px; overflow-x: hidden;">
            </div>
        </div>
        <hr>
        <form id="messageForm">
            <div class="row">
                <div class="col-sm-12">
                    <fieldset class="form-group">
                        <input type="text" name="message" id="message" class="form-control"
                               placeholder="Enter a message">

                    </fieldset>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <select class="form-control" name="urgency" id="urgency">
                            <option value="minor" selected>Minor</option>
                            <option value="moderate">Moderate</option>
                            <option value="important">Important</option>
                            <option value="emergency">Emergency</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <input type="submit" id="submit" class="btn btn-primary form-control" value="Submit">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}
{% block js_scripts %}
    <script type="application/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            // Correctly decide between ws:// and wss://
            var socket;
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            var chatLog = $('#chatLog');
            var messageBox = $('#message');
            var urgency = $('#urgency');
            var roomId;
            var patientUsername;
            var patientPicture;
            var therapistPicture;
            var sentMessageHTML = '<div class="row"><div class="col-sm-11"><div class="card">' +
                    '<div class="card-header {3} text-white text-xs-center">{0}</div>' +
                    '<div class="card-block">' +
                    '<div class="card-text">{1}<br><small class="text-muted pull-right">{2}</small></div></div>' +
                    '</div></div>' +
                    '<div class="col-sm-1"><div class="chat-face patient-picture">' +
                    '</div></div>';
            var gotMessageHTML = '<div class="row">' +
                    '<div class="col-sm-1">' +
                    '<div class="chat-face therapist-picture"></div>' +
                    '</div><div class="col-sm-11"><div class="card">' +
                    '<div class="card-block">' +
                    '<div class="card-text">{0}<br><small class="text-muted pull-right">{1}</small>' +
                    '</div></div></div></div></div>';
            var colorHeaders = {
                'minor': 'card-success',
                'moderate': 'card-primary',
                'important': 'card-warning',
                'emergency': 'card-danger'
            };
            if (!String.prototype.format) {
                String.prototype.format = function () {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function (match, number) {
                        return typeof args[number] != 'undefined'
                                ? args[number]
                                : match
                                ;
                    });
                };
            }
            console.log("Connecting to " + ws_path);
            socket = new ReconnectingWebSocket(ws_path);
            // Handle incoming messages
            socket.onmessage = function (message) {
                var patientPictureClass;
                var therapistPictureClass;
                var data;
                console.log("Got websocket message " + message.data);
                data = JSON.parse(message.data);
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    // joins
                    roomId = data.join;
                    patientUsername = data.patient.username;
                    therapistPicture = data.therapist_picture;
                    patientPicture = data.patient_picture;
                    console.log(patientPicture);
                    console.log("Joining room " + data.join);
                } else if (data.message) {
                    if (data.username === patientUsername) {
                        chatLog.append(sentMessageHTML.format(data.urgency,
                                data.message,
                                data.timestamp,
                                colorHeaders[data.urgency]));
                    } else {
                        chatLog.append(gotMessageHTML.format(data.message, data.timestamp));
                    }

                    chatLog.scrollTop(chatLog.prop("scrollHeight"));
                    therapistPictureClass = $('.therapist-picture');
                    patientPictureClass = $('.patient-picture');
                    therapistPictureClass.css('background-image', 'url(/' + therapistPicture + ')');
                    therapistPictureClass.css('background-size', '50px 50px');
                    patientPictureClass.css('background-image', 'url(/' + patientPicture + ')');
                    patientPictureClass.css('background-size', '50px 50px');
                } else {
                    console.log("Cannot handle message!");
                }

                if (data.old_messages) {
                    console.log('loading old messages');
                    for (var i = 0; i < data.old_messages.length; i++) {
                        if (data.old_messages[i].handle == patientUsername) {
                            chatLog.append(sentMessageHTML.format(data.old_messages[i].urgency,
                                    data.old_messages[i].message,
                                    data.old_messages[i].timestamp,
                                    colorHeaders[data.old_messages[i].urgency]));
                        } else {
                            chatLog.append(gotMessageHTML.format(data.old_messages[i].message, data.old_messages[i].timestamp));
                        }
                    }

                }
                chatLog.scrollTop(1E10);

                therapistPictureClass = $('.therapist-picture');
                patientPictureClass = $('.patient-picture');
                therapistPictureClass.css('background-image', 'url(/' + therapistPicture + ')');
                therapistPictureClass.css('background-size', '30px 30px');
                patientPictureClass.css('background-image', 'url(/' + patientPicture + ')');
                patientPictureClass.css('background-size', '30px 30px');

            };


            $('#messageForm').on('submit', function (e) {
                if (messageBox.val() != '') {
                    socket.send(JSON.stringify({
                        "command": "send",
                        "room": roomId,
                        "message": messageBox.val(),
                        "urgency": urgency.val()
                    }));
                    messageBox.val('');
                }

                e.preventDefault();
            });
            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            }
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>
{% endblock %}