{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Therapist Chat{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <div id="content">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="list-group" id="chat-list">
                    {% for room, messages in messages %}
                        <a class="room-link list-group-item" data-room-id="{{ room.id }}" href="#">
                            <div class="chat-face pull-right"
                                 style="background-image: url('/{{ room.patient.userprofile.picture.url }}');"></div>
                            <span id="name-{{ room.id }}">{{ room.patient.first_name }} {{ room.patient.last_name }}</span>
                            <span class="label label-info" id="new-{{ room.id }}">New</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="card card-block">
                    <div class="card-title" id="chat-title">Select a client to start chatting</div>
                    <hr>
                    <div class="card-text">
                        <div id="chat-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block js_scripts %}
    <script type="application/javascript" src="{% static 'js/reconnecting-websocket.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            var contentBody = $('#content');
            // Correctly decide between ws:// and wss://
            var socket;
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            var chatTitle = $('#chat-title');
            var roomIds = [];
            var gotMessageHTML = '<div class="row">' +
                    '<div class="col-sm-1"><div class="chat-face patient-picture"></div></div>' +
                    '<div class="col-sm-11"><div class="card">' +
                    '<div class="card-header text-xs-center">{0}</div>' +
                    '<div class="card-block">' +
                    '<div class="card-text">{1}<br><small class="text-muted pull-right">{2}</small></div></div>' +
                    '</div></div></div>';
            var sentMessageHTML = '<div class="row"><div class="col-sm-11"><div class="card">' +
                    '<div class="card-block">' +
                    '<div class="card-text">{0}<br><small class="text-muted pull-right">{1}</small>' +
                    '</div></div></div></div>' +
                    '<div class="col-sm-1"><div class="chat-face therapist-picture"></div></div></div>';
            var therapistUsername;
            var roomDiv = "<div class='room' id='room-{0}'>" +
                    "<div class='messages' id='chatLog-{0}' " +
                    "style='overflow-y: auto; max-height: 500px; overflow-x: hidden;'></div>" +
                    "<hr><form class='form' id='messageForm-{0}'>" +
                    "<div class='row'>" +
                    "<div class='col-sm-10'><input type='text' class='form-control' id='message-{0}'></div>" +
                    "<div class='col-sm-2'>" +
                    "<button class='btn btn-primary'>Send</button></form></div>" +
                    "</div></div>";
            var patientPictures = {};
            var therapistPicture;
            contentBody.hide();
            if (!String.prototype.format) {
                String.prototype.format = function () {
                    var args = arguments;
                    return this.replace(/{(\d+)}/g, function (match, number) {
                        return typeof args[number] != 'undefined'
                                ? args[number]
                                : match
                                ;
                    });
                };
            }
            console.log("Connecting to " + ws_path);
            socket = new ReconnectingWebSocket(ws_path);
            // Handle incoming messages
            socket.onmessage = function (message) {
                // Decode the JSON
                var i;
                var data;
                var msgdiv;
                console.log("Got websocket message " + message.data);
                data = JSON.parse(message.data);
                $('#new-' + data.join).hide();
                // Handle errors
                if (data.error) {
                    alert(data.error);
                    return;
                }
                // Handle joining
                if (data.join) {
                    therapistUsername = data.therapist.username;
                    // old_messages exist
                    console.log("Joining room " + data.join);
                    roomIds.push(data.join);
                    therapistPicture = data.therapist_picture;
                    patientPictures[data.join] = data.patient_picture;
                    // Hook up send button to send a message
                    $("#chat-body").append(roomDiv.format(data.join));
                    $('.room').hide();
                    $('#messageForm-' + data.join).on("submit", function (e) {
                        socket.send(JSON.stringify({
                            "command": "send",
                            "room": data.join,
                            "message": $('#message-' + data.join).val()
                        }));
                        $('#message-' + data.join).val('');
                        e.preventDefault();
                        return;
                    });
                    // Handle leaving
                } else if (data.leave) {
                    console.log("Leaving room " + data.leave);
                    $("#room-" + data.leave).remove();
                    // Handle getting a message
                } else if (data.message) {
                    msgdiv = $("#room-" + data.room + " .messages");
                    if (data.username == therapistUsername) {
                        msgdiv.append(sentMessageHTML.format(data.message, data.timestamp));
                    } else {
                        msgdiv.append(gotMessageHTML.format(data.urgency, data.message, data.timestamp));
                        $('#new-' + data.room).show();
                    }
                    $('#chatLog-' + data.room).scrollTop(1E10);
                    $('#chatLog-' + data.room + ' .patient-picture').css('background-image', 'url(/' + patientPictures[data.room] + ')');
                    $('#chatLog-' + data.room + ' .patient-picture').css('background-size', '30px 30px');
                    $('.therapist-picture').css('background-image', 'url(/' + therapistPicture + ')');
                    $('.therapist-picture').css('background-size', '30px 30px');
                } else {
                    console.log("Cannot handle message!");
                }
                if (data.old_messages) {
                    console.log('loading old messages');
                    for (i = 0; i < data.old_messages.length; i++) {
                        if (data.old_messages[i].handle == therapistUsername) {
                            $('#chatLog-' + data.join).append(sentMessageHTML.format(data.old_messages[i].message, data.old_messages[i].timestamp));
                        } else {
                            $('#chatLog-' + data.join).append(gotMessageHTML.format(data.old_messages[i].urgency, data.old_messages[i].message, data.old_messages[i].timestamp));
                        }
                    }
                    $('#chatLog-' + data.join + ' .patient-picture').css('background-image', 'url(/' + patientPictures[data.join] + ')');
                    $('#chatLog-' + data.join + ' .patient-picture').css('background-size', '30px 30px');
                    $('.therapist-picture').css('background-image', 'url(/' + therapistPicture + ')');
                    $('.therapist-picture').css('background-size', '30px 30px');

                }
                contentBody.show();

            };
            // Room join/leave
            $(".room-link").on('click', function () {
                var roomId = $(this).attr("data-room-id");
                var chatRoom = $('#room-' + roomId);
                console.log('clicked ' + roomId);
                $('.room').hide();
                chatRoom.show();
                $('#chatLog-' + roomId).scrollTop(1E10);
                chatTitle.html($('#name-' + roomId).html());
                $('#new-' + roomId).hide();

            });
            // Helpful debugging
            socket.onopen = function () {
                console.log("Connected to chat socket");
            }
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>
{% endblock %}