<nav class="navbar navbar-light bg-faded">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
        &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
        <a class="navbar-brand" href="#">Gleam</a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item pull-xs-right">
                    <a class="nav-link" href="{% url 'authenticate:profile' request.user.id %}">
                        {% if request.user.userprofile.picture %}
                            <div class="chat-list-icon"
                                 style="background-image: url('/{{ request.user.userprofile.picture.url }}');"></div>
                        {% else %}
                            <div class="default-face"></div>
                        {% endif %}
                    </a>
                </li>
                <li class="nav-item pull-xs-right">
                    <a class="nav-link" href="{% url 'authenticate:logout' %}?next={{ request.path | urlencode }}">Logout</a>
                </li>
            {% else %}

                <li class="nav-item pull-xs-right">
                    <a class="nav-link"
                       href="{% url 'authenticate:login' %}?next={{ request.path | urlencode }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>