{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gleam - {% block title %}{% endblock %}</title>
    <script type="application/javascript" src="{% static 'js/kill-iframe.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    {% block head %}{% endblock %}

    <!-- HTML5 Shiv -->
    <script src="{% static 'js/html5shiv.min.js' %}"></script>
</head>
<body>
{% include 'base-header.html' %}
<br>

<div class="wrapper">
    {% block body %}
    {% endblock %}
</div>
<div class="push"></div>
{% include 'base-footer.html' %}

<script type="application/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
<script type="application/javascript" src="{% static 'js/tether.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="application/javascript" src="{% static 'js/jq.redirect.js' %}"></script>
<script type="application/javascript" src="{% static 'js/base-init.js' %}"></script>
{% block js_scripts %}
{% endblock %}
</body>
</html>