{% extends 'base.html' %}
{% block title %}BDI Survey{% endblock %}
{% block body %}
    <div class="container">
        <div>
            <form method="post" action="">
                {% csrf_token %}
                    <h3><strong>{{ qa_set.0.text }}</strong> {% if qa_set.0.label %} {{ qa_set.0.label }} {% endif %}</h3>
                    <div class="row">
                        <span class="label label-info pull-xs-right">{{ qa_set.0.order }}/21</span>
                        <progress class="progress progress-striped progress-info" value="{{ progress }}" max="100">{{ progress }}%</progress>
                    </div>
                    <fieldset class="form-control jumbotron">
                     <div class="alert alert-info" role="alert">
                                    Please select the statement that you <strong>most</strong> identify with.
                     </div>
                    <div class="row">
                        <div>
                            {% for answer in qa_set.1 %}
                        <div class="card card-block">
                            <label for="{{ answer.pk }}" class="c-input c-radio">
                                <input type="radio" name="answer" id="{{ answer.id }}" value="{{ answer.id }}" required>
                                <span class="c-indicator"></span>{{ answer.response }}
                            </label>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-md-offset-10">
                            {% if qa_set.0.order == 21 %}
                            <input type="submit" value="submit" class="btn btn-primary">
                            {% else %}
                                <input type="submit" value="next" class="btn btn-primary pull-right">
                            {% endif %}
                        </div>
                    </div>
                    </fieldset>
            </form>
        </div>
    </div>
{% endblock %}