{% extends 'base.html' %}
{% block title %}Results{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="display-3">
                                Score: <span class="label label-primary">{{ scores.total_score }}</span>
                            </h1>
                            <h4>Emotion: <span class="label label-info">{{ scores.emotion_score|floatformat:2 }}</span>
                            </h4>
                            <h4>Thought: <span class="label label-info">{{ scores.thought_score|floatformat:2 }}</span>
                            </h4>
                            <h4>Behavior: <span
                                    class="label label-info">{{ scores.behavior_score|floatformat:2 }}</span></h4>
                            <h4>Physical: <span
                                    class="label label-info">{{ scores.physical_score|floatformat:2 }}</span></h4>
                            <hr>
                            <h4>Recommend course: <span class="label label-primary">{{ scores.course }}</span></h4>
                        </div>
                        <div class="col-sm-8">
                            <h2>What does my score mean?</h2>
                            {% if scores.total_score < 10 %}
                                indicates minimal depression
                                <br>
                                {% lorem %}
                                <hr>
                                <p>
                                    We can help.
                                </p>
                                <a href="{% url 'case:index' %}" class="btn btn-primary">Start course <i
                                        class="fa fa-arrow-right"></i> </a>

                            {% elif scores.total_score < 19 %}
                                indicates mild depression
                                <br>
                                {% lorem %}
                                <hr>
                                <p>
                                    We can help.
                                </p>
                                <a href="{% url 'case:index' %}" class="btn btn-primary">Start course <i
                                        class="fa fa-arrow-right"></i> </a>

                            {% elif scores.total_score < 30 %}
                                indicates moderate depression
                                <br>
                                {% lorem %}
                                <hr>
                                <p>
                                    We can help.
                                </p>
                                <a href="{% url 'case:index' %}" class="btn btn-primary">Start course <i
                                        class="fa fa-arrow-right"></i> </a>

                            {% elif scores.total_score > 29 %}
                                indicates severe depression.
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <div class="col-sm-1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}