{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <div class="row">
                        <div class="col-sm-4">
                            <h1 class="display-3">
                                Score: <span class="label label-primary">{{ score }}</span>
                            </h1>
                        </div>
                        <div class="col-sm-8">
                            <h2>What does my score mean?</h2>
                            {% if score < 10 %}
                                indicates minimal depression
                                <br>
                                {% lorem %}
                                <hr>
                                <p>
                                    We can help.
                                </p>
                                <a href="{% url 'case:index' %}" class="btn btn-primary">Start course <i
                                        class="fa fa-arrow-right"></i> </a>

                            {% elif score < 19 %}
                                indicates mild depression
                                <br>
                                {% lorem %}
                                <hr>
                                <p>
                                    We can help.
                                </p>
                                <a href="{% url 'case:index' %}" class="btn btn-primary">Start course <i
                                        class="fa fa-arrow-right"></i> </a>

                            {% elif score < 30 %}
                                indicates moderate depression
                                <br>
                                {% lorem %}
                                <hr>
                                <p>
                                    We can help.
                                </p>
                                <a href="{% url 'case:index' %}" class="btn btn-primary">Start course <i
                                        class="fa fa-arrow-right"></i> </a>

                            {% elif score > 29 %}
                                indicates severe depression.
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}