{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <progress class="progress progress-striped" value="60" max="100">60%</progress>
        <div class="jumbotron">
            <h5>
                In order to make your fight more strategic, it is important to set goals that we can work towards. <br>
                Your goals should be observable, measurable and achievable. We want you to pick goals that are
                challenging,
                but not overwhelming.
            </h5>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="">
                    <h5>Here is an example to get you started: </h5>
                    <div class="card card-block">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="card-title">Problem</h4>
                                <div class="card-text">
                                    <label for="exampleProblem"></label>
                                    <input type="text" class="form-control" id="exampleProblem" disabled value="action">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
            <div class="row">
            <div class="col-sm-12">
                <h5 class="alert alert-info">
                    For each problem that you selected, create a goal that will help you overcome it. It might be
                    helpful to
                    think back to the situation that you identified, or you can create a different goal altogether.
                    Don’t be nervous about committing to these goals. If your priorities shift, you can always change
                    them or create new ones.
                </h5>
            </div>
        </div>
        <form action="{% url 'diagnostic:case_goals' %}" method="post">
        {% csrf_token %}
        {% for problem in problems %}
            <div class="card card-block">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="card-title">{{ problem.text }}</h4>
                        <div class="card-text">
                            <label for="{{ problem.id }}"></label>
                            <input type="text" class="form-control" id="{{ problem.id }}" name="{{ problem.id }}-action" required>
                            <br>
                            <select class="form-control pull-left" name="{{ problem.id }}-frequency">
                                {% for freq in frequencies %}
                                    <option value="{{ freq.1 }}" name="{{ problem.id }}-frequency">{{ freq.0 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            <input type="submit" class="btn btn-primary pull-right" value="Next">
        </form>

    </div>
{% endblock %}