{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/case.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <progress class="progress progress-striped" value="80" max="100">80%</progress>

        <h5 class="alert alert-info">
            Rank your goals from easiest to hardest by dragging and dropping.
        </h5>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h5 class="alert alert-success">Easiest</h5>
            </div>
        </div>
        <div id="sortable">
            {% for goal in goals %}
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="card card-block clickable">
                            <input type="hidden" value="{{ goal.id }}" class="goals">
                            <h5 class="card-title">
                                {{ goal.problem.text }}
                            </h5>
                            <div class="card-text">
                                {{ goal.action }} <br>
                                {{ goal.frequency_verbose }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h5 class="alert alert-danger">Hardest</h5>
            </div>
        </div>
        <div class="row">
            {% csrf_token %}
            <a href="#" class="btn btn-primary pull-right" id="nextButton">Next <i class="fa fa-arrow-right"></i> </a>
        </div>
    </div>
{% endblock %}
{% block js_scripts %}
    <script type="application/javascript" src="{% static 'js/Sortable.js' %}"></script>
    <script type="application/javascript">
        $(document).ready(function () {
            $('.clickable').on('mousedown', function () {
                $(this).addClass('dragging');
            });
            $('.clickable').on('drop', function () {
                $(this).removeClass('dragging');
            });
            $('.clickable').on('mouseup', function () {
                $(this).removeClass('dragging');
            });
            var el = document.getElementById('sortable');
            var sortable = Sortable.create(el);

            $('#nextButton').on('click', function () {
                var orderedGoals = [];
                $('.goals').each(function () {
                    orderedGoals.push($(this).val());
                });
                $.redirect('{% url 'diagnostic:case_goals_rank' %}',
                        {'goals': orderedGoals,
                            'csrfmiddlewaretoken': document.getElementsByName('csrfmiddlewaretoken')[0].value});
            });
        });
    </script>
{% endblock %}